* {
	text-align: center !important;
	font-family: Helvetica;
	outline: none;
}
#hint.highlight {
	font-size: 500%;
}
.hidden {
	display: none;
}
::-moz-selection {
	background: hsl(0, 0%, 90%) !important;
}
::selection {
	background: hsl(0, 0%, 90%) !important;
}
body {
	margin: 50px;
	margin-top: 20px;
}
#mainDiv {
	font-size: 200%;
	color: #666;
}
#mainDiv, select {
	border: 2px solid #666 !important;
	border-radius: 10px;
	box-shadow: 6px 6px 0px #ccc;
}
select {
	width: 100%;
}
select option {
	padding: 10px;
	color: #666;
	font-size: 125%;
}
#clear {
	border: none;
	color: #fff;
	background-color: #c66;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 150%;
}
#clear:hover {
	background-color: #933;
}
label {
	margin: 30px;
	display: inline-block;
}
button {
	background-color: #eee;
	padding: 8px;
	border: 2px solid #ccc;
	color: #666;
	cursor: pointer;
}
button:active {
	border: 2px solid #eee;
}