* {
	text-align: center !important;
	font-family: Helvetica;
}
#hint.highlight {
	font-size: 500%;
}
.hidden {
	display: none;
}
::-moz-selection {
	background: hsl(0, 0%, 90%) !important;
}
::selection {
	background: hsl(0, 0%, 90%) !important;
}
body {
	margin: 50px;
}
#mainDiv {
	font-size: 200%;
	color: #666;
}
#mainDiv, select {
	border: 2px solid #666 !important;
	border-radius: 20px;	
}
select {
	width: 100%;
}
select option {
	padding: 10px;
	color: #666;
	font-size: 125%;
}
#clear {
	border: none;
	color: #fff;
	background-color: #c66;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 150%;
}
#clear:hover {
	background-color: #933;
}
