body {
	font-family: Helvetica;
	color: #333;
}
* {
	outline: none;
}
#topDiv {
	text-align: center;
}
h1 {
	display: inline-flex;
	align-items: center;
}
#which, #code, #key, #keyCode {
	font-weight: bold;
	font-size: 150%;
}
#hint.highlight {
	font-size: 500%;
}
.hidden {
	display: none;
}
::-moz-selection {
	background: hsl(0, 0%, 90%) !important;
}
::selection {
	background: hsl(0, 0%, 90%) !important;
}
body {
	margin: 3rem;
	margin-top: 1rem;
}
#mainDiv {
	font-size: 150%;
	color: #666;
}
#mainDiv, select {
	border: 0.25rem solid #ccc !important;
	box-shadow: 0.5rem 0.5rem 0px #eee;
	padding: 1rem;
}
select {
	width: 100%;
}
select option {
	padding: 0.5rem;
	color: #666;
	font-size: 125%;
}
#clear {
	border: none;
	color: #fff;
	background-color: #c66;
}
#clear:hover {
	background-color: #933;
}
#history-label {
	margin: 4rem 0 2rem 1rem;
	display: inline-block;
}
button {
	background-color: #fff;
	padding: 0.5rem;
	border: none;
	color: #666;
	cursor: pointer;
}
button:hover {
	background-color: #666;
	border-color: #666;
	color: #fff;
}